<div class="location-list">
  <h3>Visible ({{ mapService.locationCount() }})</h3>

  @for (location of mapService.visibleLocations(); track location.name; let i = $index) {
    <div
      class="location-item"
      [class.selected]="isSelected(location)"
      [class.store]="location.type === 'store'"
      [class.distribution]="location.type === 'distribution'"
      [id]="'location-' + i"
      (click)="selectLocation(location)"
    >
      <div class="location-header">
        <span class="type-dot" [class.store]="location.type === 'store'" [class.distribution]="location.type === 'distribution'"></span>
        <span class="location-name">{{ location.name }}</span>
      </div>
      <span class="location-description">{{ location.description }}</span>
      <span class="location-type">{{ location.type === 'store' ? '🛒 Store' : '🏭 Distribution / Office' }}</span>
    </div>
  }

  @if (mapService.selectedLocation(); as selected) {
    <div class="selected-info">
      <h4>{{ selected.name }}</h4>
      <p>{{ selected.description }}</p>
      <button (click)="mapService.resetView()">Reset View</button>
    </div>
  }
</div>
